@using parkTrumpet.Web.Models
@model parkTrumpet.Web.Models.GarageModel

Garage<br />
      <table border="1" cellpadding="5">
          <tr><td>
          @Ajax.ActionLink("Add", "ShowEditCar", "UserDashboard",new { userId=Model.UserId,carId=0}, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "main", InsertionMode = InsertionMode.Replace })
          </td></tr>
          @foreach (var row in Model.Cars)
          {
              <tr>
                  <td>@row.Id</td>
                  <td>@row.RegistrationPlate</td>
                  <td>@row.Brand</td>
                  <td>@row.ModelName</td>
                  <td style="background-color:@row.Color;">@row.Color</td>
                  <td>
                      @Ajax.ActionLink("Edit", "ShowEditCar", "UserDashboard", new { userId = Model.UserId, carId = row.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "main", InsertionMode = InsertionMode.Replace })
                  </td>
              </tr>
          }
      </table>
